In [1]:
set = {}

In [2]:
my_set = {'a' , 'b', 'c'}
my_set

{'a', 'b', 'c'}

In [3]:
my_set = {'a' , 'b', 'c', 'a' , 'b', 'c'}   # set elements are duplicate and removed automatically
my_set

{'a', 'b', 'c'}

In [4]:
my_set = {'a.0' , 'b', 'c', 'a' , 'b', 'c'}

In [5]:
my_set

{'a', 'a.0', 'b', 'c'}

In [6]:
my_mixed_set = {1, '1', 2, '2', 3, '3', '3', 1.1, True} 
my_mixed_set

{1, '1', 1.1, 2, '2', 3, '3'}

In [7]:
type(my_set)

set

In [1]:
my_list = [1, '1', 2, '2', 3, 3, 3, '3', '4', 4]  #create a list from which set needs to be formed

In [3]:
my_new_set= set(my_list)

In [4]:
my_new_set

{1, '1', 2, '2', 3, '3', '4', 4}

In [5]:
my_new_set[3]

TypeError: 'set' object is not subscriptable

In [6]:
my_new_set[:]

TypeError: 'set' object is not subscriptable

In [7]:
my_set = {'mumbai', 'pune', 'solapur'}  #create a set of cities
print(my_set)
print(type(my_set))

{'solapur', 'mumbai', 'pune'}
<class 'set'>

In [8]:
my_new_list = list(my_set) # use list() to convert a set into list

print(my_new_list)

print(type(my_new_list))

['solapur', 'mumbai', 'pune']
<class 'list'>

In [9]:
country_set = {"India", "US", "US", "India"}
country_set   #set has only two elements "India" and "US"

{'India', 'US'}

In [10]:
dir(set)

['__and__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

In [11]:
country_set.add('UK')
country_set  #set has three elements "India" ,"US" & "UK"

{'India', 'UK', 'US'}

In [12]:
country_set.add("France")

In [13]:
country_set

{'France', 'India', 'UK', 'US'}

In [14]:
country_set.remove("UK")  # remove 
country_set  #set has only two elements "India" and "US"

{'France', 'India', 'US'}

In [15]:
country_set.remove()

TypeError: set.remove() takes exactly one argument (0 given)

In [16]:
country_set.remove("China")  # as China not present in the set, error thrown

KeyError: 'China'

In [17]:
country_set.discard("China")

In [18]:
country_set

{'France', 'India', 'US'}

In [19]:
country_set.discard("US")

In [20]:
country_set

{'France', 'India'}

In [21]:
test_set = {1, 2, 3, 4, 5}

In [22]:
test_set.pop()

1

In [24]:
test_set.pop(2)

TypeError: set.pop() takes no arguments (1 given)

In [25]:
test_set = {4, 5, 6}
test_set

{4, 5, 6}

In [26]:
test_set.clear()

In [27]:
test_set

set()

In [28]:
"India" in country_set

True

In [29]:
"India" not in country_set

False

In [30]:
"Australia" not in country_set

True

In [32]:
maharashtra_cities = {"Pune", "Mumbai", "Nagpur"}

goa_cities = {"Panjim", "Vasco", "Madgaon"}

western_region_cities = {"Panjim", "Vasco", "Pune", "Mumbai", "Nagpur"}

In [33]:
maharashtra_cities & western_region_cities  # common cities between two sets

{'Mumbai', 'Nagpur', 'Pune'}

In [34]:
goa_cities & western_region_cities

{'Panjim', 'Vasco'}

In [35]:
maharashtra_cities & goa_cities

set()

In [36]:
western_region_cities.intersection(maharashtra_cities)

{'Mumbai', 'Nagpur', 'Pune'}

In [37]:
western_region_cities.intersection(goa_cities)

{'Panjim', 'Vasco'}

In [38]:
maharashtra_cities = {"Pune", "Mumbai", "Nagpur"}

goa_cities = {"Panjim", "Vasco", "Madgaon"}

western_region_cities = {"Panjim", "Vasco", "Pune", "Mumbai", "Nagpur"}

In [39]:
western_region_cities - maharashtra_cities

{'Panjim', 'Vasco'}

In [40]:
western_region_cities - goa_cities

{'Mumbai', 'Nagpur', 'Pune'}

In [41]:
maharashtra_cities  - goa_cities

{'Mumbai', 'Nagpur', 'Pune'}

In [42]:
goa_cities - maharashtra_cities

{'Madgaon', 'Panjim', 'Vasco'}

In [43]:
western_region_cities.difference(maharashtra_cities)

{'Panjim', 'Vasco'}

In [44]:
western_region_cities.difference(goa_cities)

{'Mumbai', 'Nagpur', 'Pune'}

In [45]:
maharashtra_cities | western_region_cities

{'Mumbai', 'Nagpur', 'Panjim', 'Pune', 'Vasco'}

In [46]:
goa_cities | western_region_cities

{'Madgaon', 'Mumbai', 'Nagpur', 'Panjim', 'Pune', 'Vasco'}

In [47]:
maharashtra_cities.union(goa_cities)

{'Madgaon', 'Mumbai', 'Nagpur', 'Panjim', 'Pune', 'Vasco'}

In [48]:
languages = {'python', 'java', 'c', 'c++'}

ds_languages = {"python", 'r'}


#(a) What are all programming languages are available?
print("All languages    " , languages | ds_languages)
print()

#(b) How many data science languages are available?
print("Data Science languages count   " , len(ds_languages))
print()

#(c) List languages which are not data science languages?
print("Languages which are not data science languages    " , languages - ds_languages)
print()

#(d) List languages which are both programming language and data science languages.
print("languages which are both programming language and data science languages    " , languages & ds_languages)
print()


#(e) List languges which are only data science languages.
print("Only data science languages    " , ds_languages - languages)
print()

All languages     {'r', 'java', 'c', 'python', 'c++'}

Data Science languages count    2

Languages which are not data science languages     {'java', 'c', 'c++'}

languages which are both programming language and data science languages     {'python'}

Only data science languages     {'r'}

In [50]:
student = {"rahul", "megha", "manisha", "vrushabh", "dipali"}
subject = {"maths", "DS", "Python", "SAP","HR"}

In [51]:
student & subject

set()

In [52]:
student | subject

{'DS',
 'HR',
 'Python',
 'SAP',
 'dipali',
 'manisha',
 'maths',
 'megha',
 'rahul',
 'vrushabh'}