# Data Typecasting

In [1]:
int(3.5) #covert float to integer, loss of info

3

In [2]:
float(55)

55.0

In [3]:
int(9.9) #loss of information

9

In [4]:
int("45") #convert string to integer

45

In [7]:
type(int(45))

int

In [2]:
type("i")

str

In [3]:
v = ("786")

In [5]:
type(int(v)) #YOU CAN CHANGE THE TYPE RESULT BY USING INT,STRING,FLOAT AFTER USING TYPE FORMULA

int

In [7]:
type(v)

str

In [9]:
float(8)

8.0

In [10]:
type(56+29-5.0) # OR YOU CAN DIRECT CHECK THE VALUE BY PUTTING ANYTHING

float

In [11]:
type("vijay is one of the data analyst")

str

In [14]:
type["malati",1972,True] #THAT FORMULA ONLY WORK FOR THE STRING,INTEGER & FLOAT

type['malati', 1972, True]

In [15]:
print(type('one'))
print(type(1 or 2))
print(type(1.4))
print(type(1/2))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'float'>

In [19]:
que = input("who is the supreme personality")

who is the supreme personality krishna

In [20]:
num1 = int(input("Enter 1st num"))
num2 = int(input("Enter 2nd num"))

Enter 1st num99
Enter 2nd num100

In [21]:
print(num1,num2)

99 100

In [27]:
que1 = input("who is the supreme lord ?")
que2 = input(" & who controls the supreme lord ?")

print(que1,que2)

who is the supreme lord ? krishna
 & who controls the supreme lord ? radha rani
 krishna  radha rani

In [29]:
print(que1,"&",que2)

 krishna &  radha rani

In [30]:
num3 = int(input("Enter 1st num"))
num4 = float(input("Enter 2nd num"))

print(num3+num4) #SEE THE ERROR,WE PUT STRING INTO THE FLOAT

Enter 1st num45
Enter 2nd numsomething

ValueError: could not convert string to float: 'something'

In [42]:
mantra = input("krishna mantra\n") # (/n)THIS IS NEXT LINE FUNCTION AND WE ALREADY KNOW THAT RIGHT
print(mantra)

krishna mantra
 hare krishna hare krishna
 hare krishna hare krishna

In [46]:
age = input("what is your age")
print("gender",age,"male")
print("type : ",type(age))

what is your age29
gender 29 male
type :  <class 'str'>

In [48]:
age = input("avg age of employee\n")
new_avg_age = int(25)
print(age,"new age",new_avg_age)

avg age of employee
30
30 new age 25

In [49]:
age = input('What is your age?\n')
modified_age = int(age)
print("You have entered age as ", modified_age)
print("Type : " , type(modified_age))

What is your age?
25
You have entered age as  25
Type :  <class 'int'>

In [50]:
age = input('What is your age?\n')
modified_age = float(age)
print("You have entered age as ", modified_age)
print("Type : " , type(modified_age))

What is your age?
29.80
You have entered age as  29.8
Type :  <class 'float'>

In [51]:
my_age = eval(input('What is your age?\n')) #need some clarification
print("You have entered age as ", my_age)
print("Type : " , type(my_age))

What is your age?
25.25
You have entered age as  25.25
Type :  <class 'float'>

In [52]:
my_age = eval(input('What is your age?\n'))
print("You have entered age as ", my_age)
print("Type : " , type(my_age))

What is your age?
44
You have entered age as  44
Type :  <class 'int'>

In [53]:
my_total_marks = eval(input('Enter your marks\n'))
#Enter an expression like 23 + 34 + 45 
print("You have entered age as ", my_total_marks)

Enter your marks
99
You have entered age as  99