# List

In [1]:
empty_list = [] 
empty_list

[]

In [2]:
other_empty_list = list()
other_empty_list

[]

In [3]:
my_number_list = [1, 2, 3, 4, 5, 6, 7]
my_number_list

[1, 2, 3, 4, 5, 6, 7]

In [4]:
my_mixed_list = [1, 1.1, 'a', True]
my_mixed_list

[1, 1.1, 'a', True]

In [5]:
type(my_mixed_list)

list

In [6]:
type(my_number_list)

list

In [9]:
type(my_mixed_list[0]  )#first element is integer

int

In [10]:
type(my_mixed_list[3])

bool

In [11]:
my_mixed_list[2]

'a'

In [12]:
len(my_number_list)

7

In [15]:
list(range(len(my_number_list)))

[0, 1, 2, 3, 4, 5, 6]

In [16]:
list1 = [1, 2, 3]
list2 = [4, 5]
join_list = list1 + list2
join_list

[1, 2, 3, 4, 5]

In [17]:
list1 = [1, 2, 3]
list2 = [4, 5]
join_list = list1 *list2
join_list

TypeError: can't multiply sequence by non-int of type 'list'

In [18]:
list1 = [1, 2, 3]
list1*2

[1, 2, 3, 1, 2, 3]

In [19]:
[0] * 5

[0, 0, 0, 0, 0]

In [20]:
["$"]*3

['$', '$', '$']

In [26]:
my_list = [1, 1.1, 'a', True]

In [22]:
print(my_list[0] , "    " , my_list[-4])

print(my_list[1] , "    " , my_list[-3])
print(my_list[2] , "    " , my_list[-2])
print(my_list[3] , "    " , my_list[-1])

1      1
1.1      1.1
a      a
True      True

In [23]:
my_list[len(my_list) - 1] # aceess the last element of list

True

In [27]:
my_list[4]

IndexError: list index out of range

In [28]:
my_list[3]

True

In [29]:
my_list = [1, 1.1, 'a', True]
my_list

[1, 1.1, 'a', True]

In [30]:
my_list[:]

[1, 1.1, 'a', True]

In [31]:
my_list[1:3]

[1.1, 'a']

In [32]:
my_list[1:]

[1.1, 'a', True]

In [33]:
my_list[:2]

[1, 1.1]

In [34]:
my_list[::-1]

[True, 'a', 1.1, 1]

In [35]:
my_list[::-2]

[True, 1.1]

In [36]:
my_number_list = [1, 2, 3, 4, 5, 6, 7]

In [37]:
my_number_list[1:5:2]

[2, 4]

In [39]:
my_number_list[1:-2:2]

[2, 4]

In [40]:
my_number_list[-1:-6:2]

[]

In [41]:
my_number_list[-1:-6:-2]

[7, 5, 3]

In [42]:
1 in my_list

True

In [43]:
5 in my_list

False

In [44]:
5 not in my_list

True

In [45]:
sum(my_number_list)

28

In [46]:
max(my_number_list)

7

In [47]:
min(my_number_list)

1

In [51]:
list1 = [1, 2, 3, 4, 5]
print("Original list1")
print("list1---->   ", list1)

Original list1
list1---->    [1, 2, 3, 4, 5]

In [52]:
list2 = list1  # list2 is referring to list1, both having same elements
print("List2 is referring to list1, both having same elements")
print("list1---->   ", list1)
print("list2---->   ", list2)

List2 is referring to list1, both having same elements
list1---->    [1, 2, 3, 4, 5]
list2---->    [1, 2, 3, 4, 5]

In [53]:
#Alter the element of list1 , both lists will get altered
list1[0] = 'a' #change first element of list1 
print("After aletring the first element of list1, list2 is also altered")
print("list1---->   ", list1)
print("list2---->   ", list2)

After aletring the first element of list1, list2 is also altered
list1---->    ['a', 2, 3, 4, 5]
list2---->    ['a', 2, 3, 4, 5]

In [54]:
#Alter the element of list2 , both lists will get altered
list2[3] = '***' #change fourth element of list2
print("After aletring the fourth element of list2, list1 is also altered")
print("list2---->   ", list2)
print("list1---->   ", list1)

After aletring the fourth element of list2, list1 is also altered
list2---->    ['a', 2, 3, '***', 5]
list1---->    ['a', 2, 3, '***', 5]

In [56]:
orig_list = ['a', 'b', 'c', 'd', 'e']
length = len(orig_list)
length = length * (-1)
print(length)

-5

In [57]:
L = [ 8, 9 , 10]
print("Original list ", L)

#(a) Set the second entry to 17 
L[1] = 17 
print()
print("(a) Set the second entry to 17--->", L)

Original list  [8, 9, 10]

(a) Set the second entry to 17---> [8, 17, 10]

In [66]:
lis = [2,3,[84,67,3,57,[8,6,35,346,25,6,0],8,4],46,7,4,56,8,45,3,7,83,7]

In [70]:
lis[2][4][3]

346